

.hide {
  opacity: 0;
}

.header {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.key {

  background-color: aliceblue;
  border: solid 3px antiquewhite;
  margin-bottom: 0;
  color: black;
}


.keyList {

  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

}

.keyTitle {

  margin: 1rem 0 0 2.6rem;
}



li {
  
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  margin: 0.2rem;
  width: 15rem;
}

.code {

  height: 1rem;
  width: 1rem;
  background-color: black;
  border: solid 1px black;
}


.App {
  
  background-color: #115089;
  height: 100%;
  width: 100%;
  color: azure;
  margin-bottom: 0px;


}



.element {

  background-color: antiquewhite;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  
}



.element2 {
  background-color: coral;
  width: 5.5rem;
  height: 5.5rem;
  margin: 0.5rem;
  color: black;
  transition: height 0.5s, width 0.5s;
  box-shadow: 5px 10px black;
}



.ptable {

  display: grid;
  grid-template-columns: repeat(18, 1fr);
}


.info {
  background-color: cyan;
}

.infoCard {
  position: fixed;
  width: 100%;
  background-color: aliceblue;
  color: black;
  border: solid 3px black;
  bottom: 0;
}

.infoHead {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

.infoheadmini {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
}

.alkalimetals {
  background-color: fuchsia;
}


.alkalineearthmetals {
    background-color: greenyellow;
}


.transition {
background-color: yellow;
}


.othermetals {
    background-color: crimson;
}

.othernonmetals {
    background-color: ghostwhite;
}


.halogens {
    background-color: palegreen;
}


.noble {
  background-color: darkgrey;
}

.rare {
  background-color: mediumturquoise;
}

.actinoid {
  background-color: burlywood;
}